@import url("/styling/allNeeded.css");

nav {
    margin-bottom: 150px;
}

.cart-item {
    display: flex;
    flex-direction: column;
}

.btnBgText {
    width: 100%;
}

main, .mainText {
    flex: 1;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin-top: 100px;
}


.bi-cart2, .quizButton {
    font-size: 20px;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
::-ms-input-placeholder { /* Edge 12 -18 */
color: white;
}

.plushieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--items-bg-color);
    color: var(--items-text-color);
    border: solid 2px var(--items-text-color);
    border-radius: 15px;
    height: 300px;
}

.plushieContainer > img {
    margin-bottom: 10px;
}

.ordersContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--items-bg-color);
    color: var(--items-text-color);
    border: solid 2px var(--items-text-color);
    border-radius: 15px;
}

hr {
    border: 2px solid rgb(35, 35, 35);
}

[type="search"] {
    border-radius: 15px 0px 0px 15px;
    width: 90%;
}

#searchBtn {
    border-radius: 0px 15px 15px 0px;
    width: 10%;
}

#searchForm {
    margin: 5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}