:root {
    --nav-bg-color: #824882;
    --nav-text-color: #edd1d2;
    --main-bg-color: #e77664;
    --main-text-color: #f7d070;
    --footer-bg-color: #face75;
    --footer-text-color: #526153;
    --button-bg-color: #1f0822;
    --button-bg-textcolor: #dddfae;
    --items-bg-color: #d17fc7;
    --items-text-color: #210720;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav {
    min-height: 50px;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 150px;
}

.navText {
    color: var(--nav-text-color);
    border-color: var(--nav-text-color);
}

.navText:hover {
    color: var(--nav-text-color);
}

.cart-item {
    display: flex;
    flex-direction: column;
}

main, .mainText {
    flex: 1;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin-top: 100px;
}

footer {
    min-height: 50px;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    border-radius: 15px 15px 0px 0px;
}

.btnBgText {
    background-color: var(--button-bg-color);
    color: var(--button-bg-textcolor);
    border: solid 2px var(--button-bg-textcolor);
    padding: 8px;
    border-radius: 8px;
}

.bi-cart2, .quizButton {
    font-size: 20px;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
::-ms-input-placeholder { /* Edge 12 -18 */
color: white;
}

.plushieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--items-bg-color);
    color: var(--items-text-color);
    border: solid 2px var(--items-text-color);
    border-radius: 15px;
    height: 300px;
}

.plushieContainer > img {
    margin-bottom: 10px;
}