@import url("/styling/allNeeded.css");

.bi-cart2, .quizButton {
    font-size: 20px;
}

.btnBgText::placeholder {
    color: var(--button-bg-textcolor);
}

.container-lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.PlushieContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.PlushieContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--items-bg-color);
    color: var(--items-text-color);
    border: solid 2px var(--items-text-color);
    border-radius: 15px;
    height: 300px;
    width: 300px;
}

.alertProduct {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

.PlushieContainer > img {
    margin-bottom: 10px;
}

.buttonPlus {
    border-radius: 5px;
    background-color: green;
}

.button1 {
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 3px;
    margin: 5px;
    width: 150px;
}

.button2 {
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 3px;
    margin: 5px;
    width: 150px;
}

.button3 {
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 3px;
    margin: 5px;
    width: 150px;
}

.button4 {
    padding: 10px;
    background-color: yellow;
    border: none;
    border-radius: 3px;
    margin: 5px;
    width: 150px;
}

.buttonPrevious, .buttonNext {
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 5px;
    width: 150px;
}

.invalid {
    display: none;
}