@import url("/styling/allNeeded.css");

main, .mainText {
    flex: 1;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.btnBgText::placeholder {
    color: var(--button-bg-textcolor);
}

#people-container {
    width: 100%;
}

.alertProduct {
    background-color: var(--main-bg-color);
}

.plushieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--items-bg-color);
    color: var(--items-text-color);
    border: solid 2px var(--items-text-color);
    border-radius: 15px;
    height: 300px;
}

.plushieContainer > img {
    margin-bottom: 10px;
}

.bi-cart2, .quizButton {
    font-size: 20px;
}

[src="images/blackFriday.jpg"], [src="images/manyPlushies.jpg"], [src="images/spheal.webp"] {
    height: 650px;
    width: 100%;
    border: 2px solid var(--button-bg-textcolor);
}

[type="search"] {
    border-radius: 15px 0px 0px 15px;
    width: 90%;
}

#searchBtn {
    border-radius: 0px 15px 15px 0px;
    width: 10%;
}

[alt="plushiePictureAdded"] {
    max-width: min-content;
    max-height: min-content;
}

#searchForm {
    margin: 5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.close.border-0 {
    background-color: transparent;
    color: white;
}

.invalid {
    display: none;
}