:root {
    --nav-bg-color: #824882;
    --nav-text-color: #edd1d2;
    --main-bg-color: #e77664;
    --main-text-color: #f7d070;
    --footer-bg-color: #face75;
    --footer-text-color: #526153;
    --button-bg-color: #1f0822;
    --button-bg-textcolor: #dddfae;
    --items-bg-color: #d17fc7;
    --items-text-color: #210720;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav {
    min-height: 50px;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    border-radius: 0px 0px 15px 15px;
}

.navText {
    color: var(--nav-text-color);
    border-color: var(--nav-text-color);
}

.navText:hover {
    color: var(--nav-text-color);
}

.cart-item {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.bi-cart2, .quizButton {
    font-size: 20px;
}

.cart-item-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

[alt="PlushiePicture"] {
    margin-left: 5px;
}

footer {
    min-height: 50px;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    border-radius: 15px 15px 0px 0px;
}

.cartBtn {
    margin-bottom: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnBgText {
    background-color: var(--button-bg-color);
    color: var(--button-bg-textcolor);
    border: solid 2px var(--button-bg-textcolor);
    padding: 8px;
    border-radius: 8px;
    width: 49%;
    padding: 10px;
}

.inloggen {
    background-color: var(--items-bg-color);
    border: solid 2px;
    border-radius: 15px;
}

.broke {
    background-color: var(--items-bg-color);
    border: solid 2px;
    border-radius: 15px;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

hr {
    border: 2px solid rgb(35, 35, 35);
}

.invalid {
    display: none;
}