@import url("/styling/allNeeded.css");

.cart-item {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.bi-cart2, .quizButton {
    font-size: 20px;
}

.cart-item-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

[alt="PlushiePicture"] {
    margin-left: 5px;
}

.cartBtn {
    margin-bottom: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnBgText {
    width: 49%;
    padding: 10px;
}

.broke {
    background-color: var(--items-bg-color);
    border: solid 2px;
    border-radius: 15px;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

hr {
    border: 2px solid rgb(35, 35, 35);
}

.invalid {
    display: none;
}